.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
  }
  .row img {
    
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .row {
    padding: 25px;
    background: rgb(139, 220, 252);
    border-radius: 0.5rem;
    transition: all 0.4s ease;
  }
  .main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .row h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .row h6 {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .row-icon i {
    font-size: 21px;
  }
  .row:hover {
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
  }
  